/* navbar styles */
.navbar {
    width: 100%;
    background: #effaf0;
    padding: 20px 10px;
    box-sizing: border-box;
  }

.navbar ul {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
  }

.links {
    display: flex;
    align-items: center;
  }

  .links a {
    padding: 10px 7px;
  }

.links a:visited {
    color: black;
  }

.lists {
    margin-right: 20px;
  }

.navbar h3 {
  font-weight: 500;
}
  